body {
  text-align: center;
  margin-top: 100px;
  font-family: Arial;
  background: #f0f0f0;
}

#runBtn {
  position: absolute;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
}

#message {
  margin-top: 200px;
  font-size: 24px;
  color: green;
}
